#mapBase {
  z-index: 0;
  width: 1002px;
  height: 200px;
}

#lineBase {
  z-index: 0;
  stroke: black;
  stroke-width: 2;
}

#testDoc {
  position: absolute;
  left: 300px;
  top: 160px;
  z-index: 1;
}

.lineSide {
  stroke: black;
  stroke-width: 2;
}
